<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <section class="full-wh">
      <section class="logo">
        <img src="/images/logo.png" alt="Karel en Kees">
      </section>
      <section class="logo-text">
        <h1>Karel en Kees</h1>
        <p>Binnenkort vind je hier de producten van Karel en Kees ook online. Meer weten? <a href="mailto:info@karelenkees.nl">info@karelenkees.nl</a></p>
      </section>
    </section>
  </body>
</html>
